// ENTITYBAR FILE - entitybar.less

// Entitybar
// ###

#entitybar {
	background-color : @entitybar-bg;
	padding          : 35px 25px 0 25px;
	border-bottom    : 1px solid @entitybar-border;
	margin-bottom    : 15px;

	// Setting default tabs design
	.nav-tabs {
		margin-top     : 10px;
		border         : none;
		text-transform : uppercase;
		font-weight    : 600;

		& > li > a {
			color         : @text-color;
			border        : none;
			border-bottom : 3px solid transparent;

			&:hover {
				background    : transparent;
				border-bottom : 3px solid @text-color;
			}
		}

		& > li.active > a {
			color         : @entitybar-heading-color;
			background    : transparent;
			border        : none;
			border-bottom : 3px solid @brand-primary;
		}
	}
}

.entitybar-title {
	color       : @entitybar-heading-color;
	font-weight : 300;
	font-size   : @font-size-h3;
}

.entitybar-subtitle {
	font-weight   : 300;
	margin-bottom : 10px;
}