// LOGIN FILE - login.less

// Login
// ###

body.login {
	background : @login-bg;
	padding-top: 70px;
}

.login-title {
	color      : @login-title-color;
	text-align : center;
}

.login-subtitle {
	color         : @login-input-text;
	text-align    : center;
//	font-weight   : bold;
	margin-bottom : 80px;
}

.login-image {
	text-align : center;
}

.login-box {
	input[type="email"], input[type="password"] {
		border         : none;
		background     : @login-input-bg;
		color          : white !important;
		padding-left   : 30px;
		padding-bottom : 15px;
		font-size      : @font-size-large;
		border-bottom  : 1px solid @login-input-text;
		margin-bottom:10px;

		&:focus {
			outline    : none;
			box-shadow : none;
		}
	}

	.field {
		position : relative;

		i {
			position  : absolute;
			top       : 5px;
			left      : 20px;
			font-size : @font-size-large;
		}
	}

	input::-webkit-input-placeholder {
		color : @login-input-text;
	}
	input:-moz-placeholder {
		color : @login-input-text;
	}

	.btn {
		margin-top : 25px;
	}
}
