// SIDEBAR FILE - sidebar.less

// Sidebar
// ###


#sidebar-wrapper {
	margin-left : -1 * (@sidebar-width);
	left        : @sidebar-width;
	top         : 0px;
	width       : @sidebar-width;
	background  : @sidebar-bg;
	position    : fixed;
	height      : 100%;
	overflow-y  : auto;
	z-index     : 1000;
	transition  : all 0.4s ease 0s;
	color       : @sidebar-link;
}

.sidebar-box {
	margin     : 35px 0 22px;
	text-align : center;

	img {
		width         : 80px;
		height        : 80px;
		margin-bottom : 5px;
		border-radius : 40px;
	}
}

.sidebar-separator {
	margin     : 10px 0;
	height     : 3px;
	box-shadow : inset 0 1px 2px 1px rgba(0, 0, 0, 0.2);
}

.sidebar-nav {
	width      : @sidebar-width;
	list-style : none;
	margin     : 0;
	padding    : 0 30px 0 30px;

	li {
		line-height : 42px;

		&.link-title {
			color       : @sidebar-link-title;
			font-size   : @font-size-small;
			font-weight : 700;
		}

		a {
			font-weight     : 600;
			color           : @sidebar-link;
			display         : block;
			text-decoration : none;
			text-transform  : uppercase;

			i {
				margin-right : 10px;
			}

			&:hover {
				color           : @sidebar-link-active;
				//background      : rgba(255, 255, 255, 0.2);
				text-decoration : none;
			}

			&:active, &:focus {
				text-decoration : none;
			}
		}

		&.active {
			a {
				color : @sidebar-link-active;
			}
		}
	}
}

//#menu-toggle {
//	display : none;
//}

.inset {
	padding : 20px;
}

@media (max-width : 767px) {

	#wrapper {
		padding-left : 0;

		&.active {
			position : relative;
			left     : @sidebar-width;

			#sidebar-wrapper {
				left       : @sidebar-width;
				width      : @sidebar-width;
				transition : all 0.4s ease 0s;
			}
		}
	}

	#sidebar-wrapper {
		left : 0;
	}

	#menu-toggle {
		display : inline-block;
	}

	.inset {
		padding : 15px;
	}

}