// TOOLBAR FILE - toolbar.less

// Toolbar
// ###

.navbar-toolbar {
	font-size     : @font-size-h3;
	border        : none;
	background    : @toolbar-bg;
	border-bottom : 1px solid @toolbar-border;
	transition  : all 0.4s ease 0s;

	.navbar-nav {
		& > li {
			& > a {
				color      : @toolbar-buttons-color;
				width      : @toolbar-height;
				text-align : center;

				&:hover {
					color            : @toolbar-buttons-hover-color;
					background-color : @toolbar-buttons-hover-bg;
				}
			}
		}

		&.navbar-left {
			& > li > a {
				border-right : 1px solid @toolbar-border;
			}
		}

		&.navbar-right {
			& > li > a {
				border-left : 1px solid @toolbar-border;
			}
		}
	}

	.navbar-form {
		i {
			float  : left;
			margin : 8px 7px 0 10px;
			color  : lighten(@toolbar-buttons-color, 15%);
		}

		// position: relative;
		input[type='text'] {
			color     : lighten(@toolbar-buttons-color, 15%);
			font-size : @font-size-base;
			border    : none;
			position  : absolute;
			top       : 0;
			bottom    : 0;
			left      : 150px;
			right     : 150px;

			&:focus {
				border-color       : none;

				box-shadow         : none;
				-webkit-box-shadow : none;
				outline            : none;
			}
		}
	}
}

.navbar-nav.navbar-right:last-child {
	margin-right : 0;
}