/*
 * Custom buttons
 */

// Inverse button
.btn-inverse {
	.button-variant(@btn-inverse-color; @btn-inverse-bg; @btn-inverse-border);
}

// Teal button
.btn-teal {
	.button-variant(@btn-teal-color; @btn-teal-bg; @btn-teal-border);
}

.btn {
	&.btn-circled-icon {
		background     : none;
		border         : none;
		font-size      : @font-size-small;
		font-weight    : 600;
		text-transform : uppercase;
		color          : @gray-light;

		i {
			-webkit-border-radius : 50%;
			-moz-border-radius    : 50%;
			border-radius         : 50%;
			display               : inline-block;
			width                 : ceil((@font-size-small * 2));
			height                : ceil((@font-size-small * 2));
			padding               : 0;
			border-width          : 1px;
			border-style          : solid;
			margin-left           : 5px;
			line-height           : ceil((@font-size-small * 2));
			text-align            : center;
			font-size             : @font-size-small;
			//		color: @btn-primary-bg;
		}

		&.btn-primary {
			 .button-circled-variant(@btn-primary-bg);
		}

		&.btn-success {
			.button-circled-variant(@btn-success-bg);
		}

		&.btn-danger {
			.button-circled-variant(@btn-danger-bg);
		}

		&.btn-info {
			.button-circled-variant(@btn-info-bg);
		}

		&.btn-warning {
			.button-circled-variant(@btn-warning-bg);
		}
	}
}

/* End custom buttons */