/*
 * Custom quick styles
 */

// Margin bottom 5
.mb5 {
    margin-bottom: 5px;
}

// Margin bottom 10
.mb10 {
    margin-bottom: 10px;
}

// Margin bottom 15
.mb15 {
   margin-bottom: 15px;
}

// Margin bottom 20
.mb20 {
    margin-bottom: 20px;
}

// Margin bottom 30
.mb30 {
    margin-bottom: 30px;
}

// Margin bottom 40
.mb40 {
   margin-bottom: 40px;
}

// Margin right 5
.mr5 {
    margin-right: 5px;
}

// Margin right 10
.mr10 {
    margin-right: 10px;
}

// Margin right 20
.mr20 {
    margin-right: 20px;
}

// Margin right 30
.mr30 {
    margin-right: 30px;
}

// Margin top 5
.mt5 {
    margin-top: 5px;
}

// Margin top 10
.mt10 {
    margin-top: 10px;
}

// Padding left 5
.pl5 {
  padding-left: 5px;
}

// Padding left 10
.pl10 {
  padding-left: 10px;
}

// Padding right 5
.pr5 {
  padding-right: 5px;
}

// Padding right 10
.pr10 {
  padding-right: 10px;
}

// No margin
.nomargin {
    margin: 0;
}

// Border right 0
.border-right-0 {
   border-right: 0;
}

// Border left 0
.border-left-0 {
   border-left: 0;
}

// No padding
.nopadding {
    padding: 0;
}

// Padding top 0
.padding-top-0 {
    padding-top: 0;
}

// Padding 5
.padding5 {
    padding: 5px;
}

// Padding 10
.padding10 {
    padding: 10px;
}

// Italic font style
.italic {
    font-style: italic;
}

// Bold font style
.bold {
	font-weight: 700;
}

// Semibold font style
.semibold {
	font-weight: 600;
}

// Thin font style
.thin {
	font-weight: 300;
}

/* End custom quick styles */