// Button circled variants
// -------------------------
.button-circled-variant(@color) {
	i {
		color: @color;
	}

	&:hover,
	&:focus,
	&:active,
	&.active,
	.open .dropdown-toggle& {
		color: @color;

		i {
			color: @gray-light;
		}
	}
}