// PANELS FILE - panels.less

// Panel
// ###

// Panel footer
.panel-body .panel-footer {
	margin : 15px -15px -15px -15px;
}

// Panel heading
.panel-heading {
	padding        : 20px;
	text-transform : uppercase;
	font-weight    : bold;

	.btn {
		margin-left: 20px;
	}

	& > .panel-title {
		font-size   : 18px;
		font-weight : bold;
	}

	& > .panel-options {
		float : right;
	}
}

// Panel alt
.panel-alt {
	& > .panel-heading {
		padding : 15px;

		& > .panel-title {
			font-size      : @font-size-base;
			text-transform : uppercase;
		}
	}
}

// Custom panels
// ###

// Inverse panel
.panel-inverse {
	.panel-variant(@panel-inverse-border; @panel-inverse-text; @panel-inverse-heading-bg; @panel-inverse-border);
}

// Teal panel
.panel-teal {
	.panel-variant(@panel-teal-border; @panel-teal-text; @panel-teal-heading-bg; @panel-teal-border);
}

/* End custom panels */
