// Branding
// ###

@color-app: #45ae9d;

// Colors
@brand-inverse: #6f7d95;
@brand-teal: #6bccb4;

// App Colors

// Header
@header-bg: #fff;
@header-border-color: @gray-lighter;
@header-border-width: 3px;

// Fonts
@font-size-xsmall: ceil((@font-size-base * 0.70)); // ~12px

// Login
// ###
@login-bg: #263039;
@login-title-color: #fff;
@login-subtitle-color: #495663;
@login-input-bg: @login-bg;
@login-input-text: #879aa8;
@login-input-icon: #526473;

// Toolbar
// ###

@toolbar-bg: #fff;
@toolbar-height: 80px;
@toolbar-border: #e4e6e9;

// Buttons
@toolbar-buttons-color: #7b8594;
@toolbar-buttons-hover-color: #fff;
@toolbar-buttons-hover-bg: #15a4fa;

// Search bar
@toolbar-search-color: #9ba3af;

// ### End Toolbar

// Sidebar
// ###

@sidebar-width: 230px;
@sidebar-bg: #354052;
@sidebar-link-title: #65748d;
@sidebar-link: #a0acbf;
@sidebar-link-active: #fff;
@sidebar-link-active-border: @toolbar-buttons-hover-bg;

// Entitybar
// ###
@entitybar-bg: @toolbar-bg;
@entitybar-heading-color: #4e515e;
@entitybar-border: @toolbar-border;

// Buttons
// ###

// Inverse button
@btn-inverse-color: #fff;
@btn-inverse-bg: @brand-inverse;
@btn-inverse-border: darken(@btn-inverse-bg, 2%);

// Teal button
@btn-teal-color: #fff;
@btn-teal-bg: @brand-teal;
@btn-teal-border: darken(@btn-teal-bg, 2%);

// Panels
// ###

// Inverse panel
@panel-inverse-text: #fff;
@panel-inverse-border: #e6ecf1; // lighten(@brand-inverse, 10%);
@panel-inverse-heading-bg: @brand-inverse;

// Teal panel
@panel-teal-text: #fff;
@panel-teal-border: lighten(@brand-teal, 5%);
@panel-teal-heading-bg: @brand-teal;