/*
 * Base font "Open Sans"
 */
@import url('http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700');
@import url('http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700');
@import url('http://fonts.googleapis.com/css?family=Kameron');

/**
 * Twiiter bootstrap
 **/

// Core variables and mixins
@import "app-variables.less";
@import "bootstrap-variables.less";
@import "../../../bower_components/bootstrap/less/mixins.less";

// Resetd
@import "../../../bower_components/bootstrap/less/normalize.less";
@import "../../../bower_components/bootstrap/less/print.less";

// Core CSS
@import "../../../bower_components/bootstrap/less/scaffolding.less";
@import "../../../bower_components/bootstrap/less/type.less";
@import "../../../bower_components/bootstrap/less/code.less";
@import "../../../bower_components/bootstrap/less/grid.less";
@import "../../../bower_components/bootstrap/less/tables.less";
@import "../../../bower_components/bootstrap/less/forms.less";
@import "../../../bower_components/bootstrap/less/buttons.less";

// Components
@import "../../../bower_components/bootstrap/less/component-animations.less";
// @import "../../../bower_components/bootstrap/less/glyphicons.less";
@import "../../../bower_components/bootstrap/less/dropdowns.less";
@import "../../../bower_components/bootstrap/less/button-groups.less";
@import "../../../bower_components/bootstrap/less/input-groups.less";
@import "../../../bower_components/bootstrap/less/navs.less";
@import "../../../bower_components/bootstrap/less/navbar.less";
//@import "../../../bower_components/bootstrap/less/breadcrumbs.less";
@import "../../../bower_components/bootstrap/less/pagination.less";
@import "../../../bower_components/bootstrap/less/pager.less";
@import "../../../bower_components/bootstrap/less/labels.less";
@import "../../../bower_components/bootstrap/less/badges.less";
// @import "../../../bower_components/bootstrap/less/jumbotron.less";
@import "../../../bower_components/bootstrap/less/thumbnails.less";
@import "../../../bower_components/bootstrap/less/alerts.less";
// @import "../../../bower_components/bootstrap/less/progress-bars.less";
@import "../../../bower_components/bootstrap/less/media.less";
@import "../../../bower_components/bootstrap/less/list-group.less";
@import "../../../bower_components/bootstrap/less/panels.less";
@import "../../../bower_components/bootstrap/less/wells.less";
@import "../../../bower_components/bootstrap/less/close.less";

// Components w/ JavaScript
@import "../../../bower_components/bootstrap/less/modals.less";
// @import "../../../bower_components/bootstrap/less/tooltip.less";
//@import "../../../bower_components/bootstrap/less/popovers.less";
// @import "../../../bower_components/bootstrap/less/carousel.less";

// Utility classes
@import "../../../bower_components/bootstrap/less/utilities.less";
@import "../../../bower_components/bootstrap/less/responsive-utilities.less";

/**
 * Font awesome
 **/
@import "../../../bower_components/font-awesome/less/font-awesome.less";

/**
 * Froala editor
 */
@import (less) "../../../bower_components/froala/css/froala_editor.css";

/**
 * Clockpicker
 */
@import (less) "clockpicker.css";

/**
 * Datepicker
 */
@import "../../../bower_components/bootstrap-datepicker/less/datepicker3.less";
@import "datepicker.less";