/**
 * Datepicker customization
 */

.datepicker {
	z-index: 1000 !important;

	border-radius: @border-radius-base;

	table{
		tr {
			td, th {
				border-radius: @border-radius-base;
			}
		}
	}
	table tr td {
		span {
			border-radius: @border-radius-base;
		}
	}
}

.input-daterange {

	input:first-child {
		border-radius: @border-radius-base 0 0 @border-radius-base;
	}
	input:last-child {
		border-radius: 0 @border-radius-base @border-radius-base 0;
	}
}
